In [ ]:
import pandas as pd

In [ ]:
!pip3 install xlrd

In [ ]:
df = pd.read_excel(r"GSAF5.xls")

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

In [7]:
df.isna().sum()

Date                 0
Year                 2
Type                18
Country             50
State              482
Location           565
Activity           585
Name               219
Sex                579
Age               2994
Injury              35
Fatal Y/N          561
Time              3526
Species           3132
Source              19
pdf                193
href formula       198
href               196
Case Number        194
Case Number.1      195
original order     193
Unnamed: 21       6991
Unnamed: 22       6990
dtype: int64

In [8]:
df.isna().sum(axis=1)

0       8
1       8
2       8
3       8
4       8
       ..
6987    5
6988    6
6989    5
6990    7
6991    4
Length: 6992, dtype: int64

In [ ]:
# Convert Age to numeric, forcing errors to NaN
df["Age"] = pd.to_numeric(df["Age"], errors="coerce")

# Remove unrealistic ages
df = df[(df["Age"] >= 0) & (df["Age"] <= 120)]

# Fill missing values with median age
df["Age"].fillna(df["Age"].median())

In [ ]:
df.shape

In [ ]:
# Standardizing values
df["Sex"] = df["Sex"].str.strip().str.title()  # Removes extra spaces and capitalizes

# Replace different variations of Male and Female
df["Sex"].replace({"M": "Male", "F": "Female", "Fem": "Female", "Unknown": None})

# Fill missing values with "Unknown"
df["Sex"].fillna("Unknown")

In [ ]:
df[["Age", "Sex"]]

In [ ]:
max_age = df["Age"].max()       # Get the maximum age
median_age = df["Age"].median() # Get the median age
min_age = df["Age"].min()       # Get the minimum age

print("Max Age:", max_age)
print("Median Age:", median_age)
print("Min Age:", min_age)

In [9]:
sex_counts = df["Sex"].value_counts()  # Count occurrences of each category
print(sex_counts)

# Find which gender has the highest and lowest count
most_common = sex_counts.idxmax()  # Gender with the highest count
least_common = sex_counts.idxmin() # Gender with the lowest count

print(f"The most common gender is: {most_common} with {sex_counts.max()} occurrences.")
print(f"The least common gender is: {least_common} with {sex_counts.min()} occurrences.")

Sex
M        5613
F         792
M           2
N           2
 M          1
lli         1
M x 2       1
.           1
Name: count, dtype: int64
The most common gender is: M with 5613 occurrences.
The least common gender is:  M with 1 occurrences.

In [10]:
df["Country"].value_counts()

Country
USA                   2556
AUSTRALIA             1481
SOUTH AFRICA           597
NEW ZEALAND            144
PAPUA NEW GUINEA       136
                      ...
EGYPT / ISRAEL           1
Seychelles               1
GRAND CAYMAN             1
ST. MAARTIN              1
CEYLON (SRI LANKA)       1
Name: count, Length: 239, dtype: int64

In [11]:
#Check the types 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6992 entries, 0 to 6991
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            6992 non-null   object
 1   Year            6990 non-null   float64
 2   Type            6974 non-null   object
 3   Country         6942 non-null   object
 4   State           6510 non-null   object
 5   Location        6427 non-null   object
 6   Activity        6407 non-null   object
 7   Name            6773 non-null   object
 8   Sex             6413 non-null   object
 9   Age             3998 non-null   object
 10  Injury          6957 non-null   object
 11  Fatal Y/N       6431 non-null   object
 12  Time            3466 non-null   object
 13  Species         3860 non-null   object
 14  Source          6973 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB