In [56]:
import pandas as pd

In [57]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\49151\anaconda3\lib\site-packages (2.0.1)

In [58]:
df = pd.read_excel("GSAF5.xls")

In [59]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [60]:
df.shape

(6992, 23)

In [61]:
df.duplicated().sum()

0

In [68]:
workAbleColumns = df.iloc[:, 0:15] 
print(workAbleColumns.columns)

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source'],
      dtype='object')

In [75]:
workAbleColumns.duplicated().sum()

1

In [76]:
duplicated_indices = workAbleColumns[workAbleColumns.duplicated()].index
print(duplicated_indices)

Index([5366], dtype='int64')

In [77]:
print(workAbleColumns.iloc[duplicated_indices])

           Date    Year        Type Country   State  \
5366  Fall 1943  1943.0  Unprovoked     USA  Hawaii

                                          Location      Activity      Name  \
5366  Midway Island, Northwestern Hawaiian Islands  Spearfishing   2 males

     Sex  Age                    Injury Fatal Y/N Time        Species   \
5366   M  NaN  Calf nipped in each case         N  NaN  "small sharks"

             Source
5366  W. M. Chapman

In [69]:
workAbleColumns. isna().sum()

Date            0
Year            2
Type           18
Country        50
State         482
Location      565
Activity      585
Name          219
Sex           579
Age          2994
Injury         35
Fatal Y/N     561
Time         3526
Species      3132
Source         19
dtype: int64

In [63]:
#if there were duplicates we would have used the following code to drop them
#df.drop_duplicates(inplace=True)

In [70]:
workAbleColumns.dtypes

Date          object
Year         float64
Type          object
Country       object
State         object
Location      object
Activity      object
Name          object
Sex           object
Age           object
Injury        object
Fatal Y/N     object
Time          object
Species       object
Source        object
dtype: object

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source'],
      dtype='object')

In [32]:
workAbleColumns.isna().sum()

Date            0
Year            2
Type           18
Country        50
State         482
Location      565
Activity      585
Name          219
Sex           579
Age          2994
Injury         35
Fatal Y/N     561
Time         3526
Species      3132
Source         19
dtype: int64

In [35]:
year_mean = df["Year"].mean()
print(year_mean)

1935.0185979971388

In [37]:
workAbleColumns['Year'].fillna(workAbleColumns['Year'].mean(), inplace=True)

C:\Users\49151\AppData\Local\Temp\ipykernel_16268\159077894.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  workAbleColumns['Year'].fillna(workAbleColumns['Year'].mean(), inplace=True)

In [39]:
print(workAbleColumns['Year'])

0       2025.0
1       2025.0
2       2025.0
3       2025.0
4       2025.0
         ...
6987       0.0
6988       0.0
6989       0.0
6990       0.0
6991       0.0
Name: Year, Length: 6992, dtype: float64

In [43]:
workAbleColumns ['Year'].isna().sum()

0

In [15]:
#in which countries do shark attacks occur?
workAbleColumns["Country"].value_counts()

Country
USA                   2556
AUSTRALIA             1481
SOUTH AFRICA           597
NEW ZEALAND            144
PAPUA NEW GUINEA       136
                      ...
EGYPT / ISRAEL           1
Seychelles               1
GRAND CAYMAN             1
ST. MAARTIN              1
CEYLON (SRI LANKA)       1
Name: count, Length: 239, dtype: int64

In [16]:
#Which country in the world has the most shark attacks?
def mostSharkAttacks():
    return workAbleColumns['Country'].value_counts().idxmax()
print(mostSharkAttacks())

USA

In [17]:
#Top 10 countries with the most shark attacks
TopTenCountries = workAbleColumns['Country'].value_counts().head(10)
print(TopTenCountries)

Country
USA                 2556
AUSTRALIA           1481
SOUTH AFRICA         597
NEW ZEALAND          144
PAPUA NEW GUINEA     136
BAHAMAS              136
BRAZIL               122
MEXICO               103
ITALY                 72
FIJI                  67
Name: count, dtype: int64

In [18]:
#STATES IN USA WHERE SHARK ATTACKS OCCUR
workAbleColumns["Location"].value_counts()

Location
New Smyrna Beach, Volusia County              191
Daytona Beach, Volusia County                  31
Ponce Inlet, Volusia County                    28
Myrtle Beach, Horry County                     22
Melbourne Beach, Brevard County                20
                                             ...
Tunnels surf break off Makua Beach, Kaua'i      1
Near Patrick Air Force Base Brevard County      1
Palm Beach?                                     1
Stuart Park Beach, Martin County                1
Below the English fort, Trincomalee             1
Name: count, Length: 4553, dtype: int64