# General imports

In [ ]:
import pandas as pd

In [ ]:
!pip3 install xlrd

In [ ]:
df = pd.read_excel("GSAF5.xls")

# Exploratary Data Analysis:

In [ ]:
#check for count of rows and colums.
df.shape

In [ ]:
# check what columns does this DF have.
df.columns

In [ ]:
# check how many duplicated rows is there.
df.duplicated().sum()

In [ ]:
# use .iloc to take all the rows and 0:15 columns, save it in a new variable.
df = df.iloc[:, 0:15] 
print(df.columns)

In [ ]:
# check how many duplicates are in the new DF.
df.duplicated().sum()

In [ ]:
# locate the duplicated row.
df[df.duplicated()]

In [ ]:
# drop this duplicated row, check whether it took effect.
df.drop_duplicates(inplace = True)

In [ ]:
# check which columns have NaN values and deep dive into each of them.
df.isna().sum()

In [ ]:
# check the data types of the columns and see whether they make sense.
df.dtypes

# Year column

In [ ]:
# 1) current data type is float, it should be integer or string or category depends on the purpose of the analysis.
# 2) for now, fill all the NaNs with mean...?
df['Year'] = df['Year'].fillna(df['Year'].mean())

In [ ]:
# Column "Activity":
# 1) check how many unique values in this column.
print(df.Activity.nunique())
print(df["Activity"].value_counts())
print(df["Activity"].isnull().sum())

In [ ]:
# Column "Activity":
# 2) use Regex and .map() to categorize them.
import re
def categorize_activity(activity):
    activity = str(activity).lower()  # Convert to lowercase for uniformity
    
    if re.search(r'surf|bodyboard', activity):
        return 'Surfing'
    elif re.search(r'swim|wading|diving', activity):
        return 'Swimming'
    elif re.search(r'fish|spearfish', activity):
        return 'Fishing'
    elif re.search(r'boat|ferry|capsized|canoe|kayak', activity):
        return 'Boating'
    elif re.search(r'wash|bath', activity):
        return 'Bathing'
    elif re.search(r'dive|diving', activity):
        return 'Diving'
    else:
        return 'Other'
df["Activity"] = df["Activity"].apply(categorize_activity)
df["Activity"].unique()

# Species column

In [ ]:
# species data cleaning
# rename column
df.rename(columns={"Species ": "Species"}, inplace=True)

# CHECK 20 most frequent values
df["Species"].value_counts().head(20)

In [ ]:
# Replace 'nan' object (string) and other useless data with rean NaN
df["Species"] = df["Species"].replace([
    "nan", 
    "NaN", 
    "NAN", 
    "invalid",
    "shark involvement prior to death was not confirmed",
    "shark involvement not confirmed",
    "shark involvement prior to death unconfirmed",
    "questionable incident",
    "questionable"
], float("nan"))

In [ ]:
# lowercase and trim
df["Species"] = df["Species"].str.lower().str.strip()

In [ ]:
# set NaN values to "Unknown"
df["Species"].fillna("Unknown", inplace=True)
df.head(100)

In [ ]:
# order A-Z unique values for duplicities -> yay! :)
unique_species = sorted(df["Species"].unique())
for species in unique_species:
    print(species)

In [ ]:
# regex party

df["Species"] = df["Species"].replace(to_replace=r"(?i)tiger shark.*", value="tiger shark", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)white shark.*", value="white shark", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)zambesi.*", value="zambesi shark", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)wobbegong.*", value="wobbegong shark", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)spinner.*", value="spinner shark", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)sevengill.*", value="sevengill shark", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)sandtiger.*", value="sandtiger shark", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)sand.*", value="sandbar shark", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)raggedtooth.*", value="raggedtooth shark", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)whitetip.*", value="oceanic whitetip shark", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)nurse shark.*", value="nurse shark", regex=True)

df["Species"] = df["Species"].replace(to_replace=r"(?i)mako.*", value="mako shark", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)lemon.*", value="lemon shark", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)hammerhead.*", value="hammerhead shark", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)bull.*", value="bull shark", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)bronze whaler.*", value="bronze whaler shark", regex=True)

df["Species"] = df["Species"].replace(to_replace=r"(?i)blue shark.*", value="blue shark", regex=True)

df["Species"] = df["Species"].replace(to_replace=r"(?i)not confirmed.*", value="Unknown", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)unconfirmed.*", value="Unknown", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)invalid.*", value="Unknown", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)questionable.*", value="Unknown", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)shark involvement Unknown.*", value="Unknown", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)shark involvement prior to death was Unknown.*", value="Unknown", regex=True)
df["Species"] = df["Species"].replace(to_replace=r"(?i)shark involvement prior to death Unknown.*", value="Unknown", regex=True)

# Age column

In [ ]:
# Convert Age to numeric, forcing errors to NaN
df["Age"] = pd.to_numeric(df["Age"], errors="coerce")

# Remove unrealistic ages
# df = df[(df["Age"] >= 0) & (df["Age"] <= 120)]

# Fill missing values with median age
df["Age"].fillna(df["Age"].median())

# Sex column

In [ ]:
# Standardizing values
df["Sex"] = df["Sex"].str.strip().str.title()  # Removes extra spaces and capitalizes

# Replace different variations of Male and Female
df["Sex"].replace({"M": "Male", "F": "Female", "Fem": "Female", "Unknown": None})

# Fill missing values with "Unknown"
df["Sex"].fillna("Unknown")

In [ ]:

# Count occurrences of each category
sex_counts = df["Sex"].value_counts()  

# Replace incorrect values
df["Sex"] = df.Sex.str.replace('Lli', 'F')
df["Sex"] = df.Sex.str.replace('M X 2', 'M')
df["Sex"] = df.Sex.str.replace('.', 'M')
df["Sex"] = df.Sex.str.replace('N', 'M')

# Find which gender has the highest and lowest count
most_common = sex_counts.idxmax()  # Gender with the highest count
least_common = sex_counts.idxmin() # Gender with the lowest count

print(f"The most common gender is: {most_common} with {sex_counts.max()} occurrences.")
print(f"The least common gender is: {least_common} with {sex_counts.min()} occurrences.")

# Fatal column

In [ ]:
# Replace incorrect values
df['Fatal Y/N'] = df['Fatal Y/N'].str.upper()

df['Fatal Y/N'] = df['Fatal Y/N'].replace(' N', 'N')
df['Fatal Y/N'] = df['Fatal Y/N'].replace('F', 'Y')
df['Fatal Y/N'] = df['Fatal Y/N'].replace('M', 'Y')

df['Fatal Y/N'] = df['Fatal Y/N'].replace('UNKNOWN', 'Y')

df['Fatal Y/N'] = df['Fatal Y/N'].replace('NQ', 'Y')
df['Fatal Y/N'] = df['Fatal Y/N'].replace('Y X 2', 'Y')
df['Fatal Y/N'] = df['Fatal Y/N'].replace('N ', 'N')

df['Fatal Y/N'].value_counts()

# Country column

In [ ]:
df['Country'].fillna('Unknown', inplace=True)

In [ ]:
country_mapping = {
    'USA': 'United States',
    'US': 'United States',
    'United States of America': 'United States',
    'UK': 'United Kingdom',
    'England': 'United Kingdom',
    'Australia': 'Australia',
}

df['Country'] = df['Country'].replace(country_mapping)

df['Country'] = df['Country'].str.strip()

df['Country'] = df['Country'].str.title()

In [ ]:
invalid_countries = df[~df['Country'].isin([
    'United States', 
    'United Kingdom', 
    'Australia', 
    'Brazil', 
    'South Africa', 
    'France', 
    'Mexico', 
    'Canada', 
    'Germany', 
    'New Zealand', 
    'India'])] 

print(invalid_countries[['Country', 'Location']])

df['Country'] = df['Country'].replace(['Invalid Country Name'], 'Unknown')

In [ ]:
duplicates = df[df.duplicated(subset=['Country'], keep=False)] 
print("Duplicate entries in 'Country' column:") 
print(duplicates[['Country', 'Location']])

# Statistical data visualization

In [ ]:
import seaborn as sns

sns.countplot(x='Sex', data=df)

In [ ]:
df_count[df_count.index > 1800].plot()

In [ ]:
sns.histplot(df['Age'], bins=100)

In [ ]:
sns.countplot(df['Activity'])

In [ ]:
df['Country'].value_counts().head(10).plot(kind='bar')

In [ ]:
sns.boxplot(x='Activity', y='Age', data=df)

In [ ]:

import matplotlib.pyplot as plt

attacks_by_country = df['Country'].value_counts()
fatal_attacks_by_country = df[df['Fatal Y/N'] == 'Y']['Country'].value_counts()
fatal_percentage_by_country = fatal_attacks_by_country / attacks_by_country * 100
fatal_attacks_by_state = df[df['Fatal Y/N'] == 'Y']['State'].value_counts()

# # Plot the number of attacks by country
# plt.figure(figsize=(12, 6))
# attacks_by_country.head(10).plot(kind='bar', color='skyblue')
# plt.title("Top 10 Countries with the Most Shark Attacks")
# plt.xlabel('Country')
# plt.ylabel('Number of Attacks')
# plt.xticks(rotation=45)
# plt.show()

# # Plot the number of fatal attacks by country
# plt.figure(figsize=(12, 6))
# fatal_attacks_by_country.head(10).plot(kind='bar', color='red')
# plt.title("Top 10 Countries with the Most Fatal Shark Attacks")
# plt.xlabel('Country')
# plt.ylabel('Number of Fatal Attacks')
# plt.xticks(rotation=45)
# plt.show()

# # Plot the fatal attack percentage by country
# plt.figure(figsize=(12, 6))
# fatal_percentage_by_country.head(10).plot(kind='bar', color='orange')
# plt.title("Top 10 Countries with the Highest Percentage of Fatal Shark Attacks")
# plt.xlabel('Country')
# plt.ylabel('Fatal Attack Percentage')
# plt.xticks(rotation=45)
# plt.show()

# Plot the fatal attacks by state
plt.figure(figsize=(12, 6))
fatal_attacks_by_state.head(10).plot(kind='bar', color='salmon')
plt.title("Top 10 States with the Most Fatal Shark Attacks")
plt.xlabel('State')
plt.ylabel('Number of Fatal Attacks')
plt.xticks(rotation=45)
plt.show()