In [2]:
import pandas as pd

In [3]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\49151\anaconda3\lib\site-packages (2.0.1)

In [4]:
df = pd.read_excel("GSAF5.xls")

In [5]:
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-01-23 00:00:00,2025.0,Unprovoked,Australia,Western Australia,Shipwreck Cove,Bathing,Boy,M,12,...,Not stated,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-01-22 00:00:00,2025.0,Unprovoked,Australia,Western Australia,Cheynes beach,Surfing,Dale Kittow,M,37,...,Bronze whaler,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-01-11 00:00:00,2025.0,Provoked,USA,Hawaii,Off Haleiwa Boat Harbour Oahu,Diving,Male not stated was a dive tour worker,M,23,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-01-02 00:00:00,2025.0,Unprovoked,New Caledonia,Grande Terre,Islet of Kendek near Koumac,Spearfishing,Robert Cuewapuru,M,40,...,Reportedly Tiger or Bull shark,Johannes Marchand Todd Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-01-02 00:00:00,2025.0,Unprovoked,Australia,South Australia,Granites Beach near Westall Streaky Bay,Surfing,Lance Appleby,M,28,...,Great White Shart estimated 4.8m 16 ft,Glen Folkard: Simon De Marchi News.com.au: The...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [21]:
df.notnull() .sum()

Date              6992
Year              6990
Type              6974
Country           6942
State             6510
Location          6427
Activity          6407
Name              6773
Sex               6413
Age               3998
Injury            6957
Fatal Y/N         6431
Time              3466
Species           3860
Source            6973
pdf               6799
href formula      6794
href              6796
Case Number       6798
Case Number.1     6797
original order    6799
Unnamed: 21          1
Unnamed: 22          2
dtype: int64

In [7]:
df.shape

(6992, 23)

In [8]:
df.isnull().sum()

Date                 0
Year                 2
Type                18
Country             50
State              482
Location           565
Activity           585
Name               219
Sex                579
Age               2994
Injury              35
Fatal Y/N          561
Time              3526
Species           3132
Source              19
pdf                193
href formula       198
href               196
Case Number        194
Case Number.1      195
original order     193
Unnamed: 21       6991
Unnamed: 22       6990
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
#if there were duplicates we would have used the following code to drop them
#df.drop_duplicates(inplace=True)

In [11]:
df.dtypes

Date               object
Year              float64
Type               object
Country            object
State              object
Location           object
Activity           object
Name               object
Sex                object
Age                object
Injury             object
Fatal Y/N          object
Time               object
Species            object
Source             object
pdf                object
href formula       object
href               object
Case Number        object
Case Number.1      object
original order    float64
Unnamed: 21        object
Unnamed: 22        object
dtype: object

In [12]:
df.sample(5)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
2241,16-Jun-2005,2005.0,Unprovoked,USA,Florida,Howard E. Futch Memorial Park at Paradise Beac...,Swimming,male,M,20,...,"Unknown, but it was reported that a shark toot...",Local6.com,2005.06.16-male.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2005.06.16,2005.06.16,4749.0,NaN,NaN
6209,Reported 01-Nov-1902,1902.0,Unprovoked,USA,Texas,"Near Port Lavaca, Calhoun County",Fishing,male,M,NaN,...,NaN,"Victoria Weekly, 1/11/ 1902",1902.11.01.R-PortLavaca.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1902.11.01.R,1902.11.01.R,782.0,NaN,NaN
5,2024-12-29 00:00:00,2024.0,Unprovoked,Egypt,North of Marsa Alam,Red Sea,SCUBA Diving,Peppino Fappani,M,69,...,Reportedly a Tiger Shark,Todd Smith : Kevin McMurray Trackingsharks .co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4484,07-Jul-1962,1962.0,Unprovoked,USA,Georgia,"Jekyll Island, Glynn County",Dived from inner-tube,Gary Duncan,M,13,...,NaN,"J. M. Hicks, M.D.; Washington Star, 7/14/1962",1962.07.07-Duncan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.07.07,1962.07.07,2506.0,NaN,NaN
4258,Apr-1966,1966.0,Sea Disaster,AUSTRALIA,New South Wales,"Botany Bay, Sydney",Overturned skiff,"Occupants: Jack Munro, Quinton Graham & Donald...",M,NaN,...,NaN,SAF Case #1413,1966.04.00-NV-skiff.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1966.04.00,1966.04.00,2732.0,NaN,NaN

In [13]:
df.describe()

              Year  original order
count  6990.000000     6799.000000
mean   1935.018598     3401.152081
std     272.082794     1963.076319
min       0.000000        2.000000
25%    1947.000000     1701.500000
50%    1986.000000     3401.000000
75%    2009.000000     5100.500000
max    2026.000000     6802.000000

In [ ]:
#if in the code above we notice too many inconsistency we would look for outliers but it seems unnecessary here.
# Example: Remove outliers using the interquartile range (IQR)
Q1 = df['numeric_column'].quantile(0.25)
Q3 = df['numeric_column'].quantile(0.75)
IQR = Q3 - Q1

# Define acceptable range
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter data
df = df[(df['numeric_column'] >= lower_bound) & (df['numeric_column'] <= upper_bound)]

In [14]:

workAbleColumns = df.iloc[:, 0:15] 
print(workAbleColumns.columns)

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source'],
      dtype='object')

In [15]:
#in which countries do shark attacks occur?
workAbleColumns["Country"].value_counts()

Country
USA                   2556
AUSTRALIA             1481
SOUTH AFRICA           597
NEW ZEALAND            144
PAPUA NEW GUINEA       136
                      ...
EGYPT / ISRAEL           1
Seychelles               1
GRAND CAYMAN             1
ST. MAARTIN              1
CEYLON (SRI LANKA)       1
Name: count, Length: 239, dtype: int64

In [16]:
#Which country in the world has the most shark attacks?
def mostSharkAttacks():
    return workAbleColumns['Country'].value_counts().idxmax()
print(mostSharkAttacks())

USA

In [17]:
#Top 10 countries with the most shark attacks
TopTenCountries = workAbleColumns['Country'].value_counts().head(10)
print(TopTenCountries)

Country
USA                 2556
AUSTRALIA           1481
SOUTH AFRICA         597
NEW ZEALAND          144
PAPUA NEW GUINEA     136
BAHAMAS              136
BRAZIL               122
MEXICO               103
ITALY                 72
FIJI                  67
Name: count, dtype: int64

In [18]:
#STATES IN USA WHERE SHARK ATTACKS OCCUR
workAbleColumns["Location"].value_counts()

Location
New Smyrna Beach, Volusia County              191
Daytona Beach, Volusia County                  31
Ponce Inlet, Volusia County                    28
Myrtle Beach, Horry County                     22
Melbourne Beach, Brevard County                20
                                             ...
Tunnels surf break off Makua Beach, Kaua'i      1
Near Patrick Air Force Base Brevard County      1
Palm Beach?                                     1
Stuart Park Beach, Martin County                1
Below the English fort, Trincomalee             1
Name: count, Length: 4553, dtype: int64